


<% flash.each do |type, msg| %>
  <div class="alert alert-danger" role="alert">

      <%= msg %>
      </div>
  <% end %>

<%= form_for signin_path,  method: 'post' do |f| %>

    <h1>Login</h1>
    </br>
    <div class="card">
    <div class="card-body">
   
    <div class="mb-3">
   
      <%= f.label :email, {class: "form-label"}  %>
      <%= text_field_tag :email%></br></br>
     </div>
    
     <div class="mb-3">
      <%= f.label :password, {class: "form-label"} %>
      <%= password_field_tag :password %>
     </div></br>
  
     <%= f.submit "confirmer",  class: "btn btn-primary"%> </br></br>
   
<% end %>

       

