



<%= form_tag url_for(action:'create'), method: 'POST' do %>
  

  <label> Ton prénom </label>
  <%= text_field_tag 'first_name' %> </br>
  
  <label> email </label>
  <%= text_field_tag 'email' %> </br>

  <label> mot de passe </label>
  <%= password_field_tag 'password' %></br>

  <label> confirmation du mot de passe </label>
  <%= password_field_tag 'password' %></br>
  <%= submit_tag 'envoyer' %> 

  <% end %>

