<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
<a class="navbar-brand" <%= link_to "The Gossip project", root_path %></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" <%= link_to "Accueil", root_path %></a>
    <a class="nav-item nav-link" <%= link_to "Team", static_team_path %></a>
    <a class="nav-item nav-link" <%= link_to "Contact", contact_path %></a>
    <a class="nav-item nav-link disabled" href="#">Potins</a>
  </div>
</div>
</nav>

<body>
<h1 class="text-center"> Bienvenue <%= params[:user_entry] %></h1>

<p class="text-center">Voici notre site de potins, plutot chouette non ?</p>

<p class="text-center">La liste des potins : </br>
</br>
</p>

<% @gossips.each.with_index do |gossip, index| %>


   
    <div class="mx-auto" style="width: 400px;">
<div class="card">
  <div class="card-header">
    Gossip n° <%= index + 1%>
  </div>
  <div class="card-body">
    <h5 class="card-title">Titre</h5>
    <p class="card-text"><%= gossip.title%></p>
    <h6 class="card-title">Auteur</h6>
    <p class="card-text"><%= gossip.user.first_name%></p>
    <class="btn btn-primary"> <%= link_to "Gossip n° ", gossip_path(gossip)%> <%= index + 1%>
  </div>
</div>
</div>
</br>

<% end %>

</body>