
<body>
<h1 class="text-center"> Bienvenue 


<% if session[:user_id] %>
<%= current_user.first_name %>
<% end %></h1>
<p class="text-center">Voici notre site de potins, plutot chouette non ?</p>

<p class="text-center">La liste des potins : </br>
</br>
</p>


<% @gossips.each.with_index do |gossip, index| %>


   
  <div class="mx-auto" style="Width 25%;">
    <div class="row">
  <div class="col-sm-8">
<div class="card">
  <div class="card-header">
    Gossip n° <%= index + 1%>
  </div>
  <div class="row">
  <div class="col-sm-8">
  <div class="card-body">
    <h5 class="card-title">Titre</h5>
    <p class="card-text"><%= gossip.title%></p>
  
    <class="btn btn-primary"> <%= link_to "Gossip n° ", gossip_path(gossip)%> <%= index + 1%>
  </div>
</div>
</div>
</div>
</div>
</br>

<% end %>

</body>