

<h2> Créé ton potin et sois créatif ;) </h2>

    <%= form_for @gossip, method: 'post' do |f| %>
   
      Titre du gossip : <%= f.text_field :title %> <br/><br/>
      Ton gossip : <%= f.text_area :content %><br/> <br/>
  
      <%= f.submit %>
    <% end %>


    <% if @gossip.errors.any? %>
    
    <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
    <ul>
      <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
    </div>
  
