<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
<div class="container-fluid">
<a class="navbar-brand" <%= link_to "The Gossip project", root_path %></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" <%= link_to "Accueil", root_path %></a>
    <a class="nav-item nav-link" <%= link_to "Team", static_team_path %></a>
    <a class="nav-item nav-link" <%= link_to "Contact", contact_path %></a>
    <a class="nav-item nav-link" <%= link_to "Créer un potin", new_gossip_path %></a>

    <a class="nav-item nav-link" <%= link_to "Créer son compte", signup_path %></a>
    <a class="nav-item nav-link" <%= link_to "Se connecter", signin_path %></a>

    <% if session[:user_id] %>
     <a class="nav-item nav-link" <%= link_to 'Se deconnecter', logout_path, :method => :delete %>
  <% end %></a>

 <% if session[:user_id] %>
 <a class="nav-link disabled">  <%= current_user.email %>
<% end %></a>

  </div>
</div>
</div>
</nav>
</br>
<h2 class="text-center">Page contact </h2>

<form>
  <div class="mx-auto" style="width: 400px;" form-group">
    <label for="formGroupExampleInput">Envoie nous un message on te répond ASAP ;) </label>
    <input type="text" class="form-control" id="formGroupExampleInput" Ton prénom="Example input">
  </div>
  <div class="mx-auto" style="width: 400px;form-group">
    <label for="formGroupExampleInput2">Ton message</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
</br>
  <button type="button" class="btn btn-outline-primary btn-block "mx-auto" style="width: 200px;">Envoyer</button>
  </div>
</form>
